.gallery img {
  opacity: 0;
  transform: translateY(30px);
  transition: 0.6s ease;
}

.gallery img.show {
  opacity: 1;
  transform: translateY(0);
}
.event-video {
  width: 100%;
  max-width: 700px;
  margin: 20px auto;
  display: block;
  border-radius: 12px;
}
