.gallery img {
  opacity: 0;
  transform: translateY(30px);
  transition: 0.6s ease;
}

.gallery img.show {
  opacity: 1;
  transform: translateY(0);
}
.event-video{
  width:100%;
  max-width:700px;
  margin:25px auto;
  display:block;
  border-radius:16px;
  box-shadow:0 12px 28px rgba(0,0,0,.2);
}
.img-preview{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.85);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:9999;
  opacity:0;
  pointer-events:none;
  transition:.3s;
}

.img-preview.show{
  opacity:1;
  pointer-events:auto;
}

.img-preview img{
  max-width:90%;
  max-height:90%;
  border-radius:18px;
  box-shadow:0 20px 50px rgba(0,0,0,.4);
  animation:zoom .3s ease;
}

@keyframes zoom{
  from{transform:scale(.8)}
  to{transform:scale(1)}
}

.gallery img{
  cursor:zoom-in;
}
button{
  position: relative;
  overflow: hidden; /* bắt buộc để ripple không tràn */
  -webkit-tap-highlight-color: transparent;
}

button::after{
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at var(--x, 50%) var(--y, 50%),
    rgba(255,255,255,0.45) 0%,
    rgba(255,255,255,0.35) 20%,
    rgba(255,255,255,0.15) 40%,
    transparent 60%
  );
  opacity: 0;
  transition: opacity .4s;
}

button:active::after{
  opacity: 1;
}
